.cartList {
    text-align: center;
}

.cartList_head {
    color: white;
    background-color: olivedrab;
}

.titulo {
    text-align: center;
    color: white;
    background-color: #9eb23b;
}
.eliminar{
    color: white;
}

table {
    font-size: 15px;
}
