.card-detail {
    display: flex;
    text-align: center;
}
.card-body-detail {
    margin: 10px;
    margin-left: 50px;
    align-items: center;
}

.img-item {
    display: flex;
    align-self: auto;
    max-width: 400px;
}

.swal2-title {
    color: white;
    padding: 0px;
}
