.logo {
    width: 100px;
    height: 100px;
}

h1 {
    color: white;
}

h2 {
    color: white;
    margin: 0px;
    text-align: center;
    background-color: #9eb23b;
}

main {
    background-color: #b7c76a;
}

main .titulo {
    text-align: center;
    color: white;
}

/*Navbar*/
.Navbar {
    padding: 0 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #c7d36f;
}

/*Menu central*/

.NavSec.Menu {
    display: flex;
    flex-direction: row;
}

