footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #8f8088;
}
.pie {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

.pie:hover {
    color: black;
}
