.contenedorPadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    font-size: 15px;
    position: relative;
}

button {
    border-style: none;
}

.contador {
    display: flex;
    text-align: center;
    width: 120px;
    border-style: none;
}

.box {
    display: flex;
    margin: 15px;
    border: 1px solid #7d6e76;
}

.carrito {
    padding: 10px;
    color: black;
    border: 1px solid #7d6e76;
}
